<div class="card " >
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title">{{selectedProvider.name}}</h5>
    <p class="card-text">{{selectedProvider.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{selectedProvider.lowest_price}}</li>
    <li class="list-group-item">{{selectedProvider.max_speed}}</li>
    <li class="list-group-item">{{selectedProvider.rating}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">{{selectedProvider.email}}</a>
    <a href="#" class="card-link">{{selectedProvider.url}}</a>
  </div>
</div>